<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Home | Práctica SI</title>
</head>
<body>
    <p>Selecciona el ejercicio:</p>
    <ol>
        <li><a href="/1">Ejercicio 1</a></li>
        <li><a href="/2">Ejercicio 2</a></li>
        <li><a href="/3">Ejercicio 3</a></li>
        <li><a href="/4">Ejercicio 4</a></li>
    </ol>
</body>
</html>